<div class="container-fluid ">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-auto col-sm-auto"></div>
        
        <div class="col-md-6 col-sm-12">
            <h1>Login</h1>
            <div class="app-form-style">
                <div class="row align-items-center justify-content-center">

                    <div class="input-group col-md-10 col-sm-10 gy-4">
                        <span class="input-group-text" id="basic-addon1">Username</span>
                        <input [(ngModel)]="login.username"  type="text" class="form-control" id="username" placeholder="username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group col-md-10 col-sm-10 gy-4">
                        <label class="input-group-text" id="basic-addon2">Password</label>
                        <input [(ngModel)]="login.password"  type="password" class="form-control" id="password" placeholder="****" aria-label="Username" aria-describedby="basic-addon2">
                    </div>

                    <div class="col-md-10 col-sm-10 gy-4">
                        <button type="button" (click)="doLogin(login)" class="btn btn-primary col-md-12" >Login</button>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="col-md-auto col-sm-auto"></div>
    </div>
</div>
